*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-size: 20px;
}
#nav-bar{
    background-image: linear-gradient(to right, #bce7a6, #4cbb17);
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    padding: 0;
    height: 100px;
}
.navbar-brand img{
    height: 60px;
    padding-left: 20px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar a{
    font-size: 18px;
    color: White;
    font-weight: 400;
    float: right;
    text-align: left;
}
.nav-bars li:hover{
    background-color: pink;
    border-radius: 5px;
    transition: 0.3s ease;
}
.navbar-toggler{
    outline: none;
}

#footer{
    background-image: linear-gradient(to right, #bce7a6, #4cbb17);
    color: white;
}
#footer li a{
    color: white;
}
.footer-box{
    padding: 5px;
}
